:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 35px;
  color: var(--text-black-700);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: var(--skin-color);
  left: 0;
  bottom: 0;
}
.section-title h2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: var(--skin-color);
  left: 0;
  bottom: -10px;
}

.main-content {
  padding-left: 270px;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 20px;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  background: var(--skin-color);
  color: #fff;
  padding: 12px 35px;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Sidebar */
.sidebar {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 2px solid var(--bg-black-50);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  top: 50px;
  text-transform: capitalize;
}

.sidebar .logo a {
  letter-spacing: 4px;
  text-shadow: 0 0 10px var(--text-black-900);
  color: var(--text-black-900);
}

.sidebar .nav-toggler {
  width: 45px;
  height: 40px;
  position: fixed;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  left: 300px;
  top: 20px;
  background: var(--bg-black-100);
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
}

.sidebar .nav-toggler .toggle-i {
  font-size: 26px;
  color: var(--bg-black-50);
}

.sidebar .nav {
  margin-top: 50px;
  display: block;
}

.sidebar .nav li {
  display: block;
  margin-bottom: 18px;
  padding: 7px 20px;
  border-bottom: 2px solid var(--bg-black-50);
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebar .nav li:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 15px;
}

.sidebar .nav li .nav-i {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar .nav li a {
  color: var(--text-black-900);
}
.sidebar .nav li .active {
  color: var(--skin-color);
}

/* Home */

.home {
  display: flex;
  min-height: 100vh;
  color: var(--text-black-900);
}

.home .container {
  margin: auto;
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  margin-bottom: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
}
h3 .name {
  color: var(--skin-color);
  font-size: 30px;
}

h3.my-profession {
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 23px;
}

.typing {
  color: var(--skin-color);
}

.home .home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home-image {
  flex: 0 0 35%;
  max-width: 35%;
  height: 350px;
  border: 2px solid var(--bg-black-50);
  text-align: center;
  position: relative;
}

.home .home-image::before {
  content: "";
  width: 100px;
  height: 100px;
  border-top: 8px solid var(--skin-color);
  border-left: 8px solid var(--skin-color);
  position: absolute;
  top: -35px;
  left: -35px;
}
.home .home-image::after {
  content: "";
  width: 100px;
  height: 100px;
  border-bottom: 8px solid var(--skin-color);
  border-right: 8px solid var(--skin-color);
  position: absolute;
  bottom: -35px;
  right: -35px;
}

/* About */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-black-700);
  letter-spacing: 0.7px;
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  padding: 10px 0;
  border-bottom: 2px solid var(--bg-black-50);
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);
}

.about .about-content .personal-info .info-item p span {
  font-size: 16px;
  color: var(--text-black-700);
  font-weight: 400;
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin: 10px 15px 0 0;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item h5 {
  font-size: 17px;
  line-height: 40px;
  font-weight: 600;
  color: var(--text-black-900);
}
.about .about-content .skills .skill-item .progress {
  width: 100%;
  height: 7px;
  background-color: #ddd;
  border-radius: 4px;
  position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  background: var(--skin-color);
  border-radius: 4px;
}
.about .about-content .skills .skill-item .progress .skill-percent {
  position: absolute;
  right: 0;
  top: -40px;
  color: var(--text-black-900);
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .title {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: var(--text-black-700);
}

.about .about-content .title h5 {
  width: fit-content;
  padding: 7px 20px;
  border-bottom: 2px solid var(--skin-color);
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 20px;
  text-align: center;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .education .timeline-box,
.about .about-content .experience .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .education .timeline,
.about .about-content .experience .timeline {
  padding: 30px 15px;
  background-color: var(--bg-black-100);
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--bg-black-50);
  position: relative;
}

.about .about-content .education .timeline .timeline-item,
.about .about-content .experience .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.about .about-content .education .timeline .timeline-date,
.about .about-content .education .timeline .timeline-title,
.about .about-content .experience .timeline .timeline-date,
.about .about-content .experience .timeline .timeline-title {
  flex: 0 0 40%;
  max-width: 40%;
}

.about .about-content .education .timeline .timeline-date h3,
.about .about-content .education .timeline .timeline-title h3,
.about .about-content .experience .timeline .timeline-date h3,
.about .about-content .experience .timeline .timeline-title h3 {
  color: var(--text-black-900);
  font-weight: 700;
}

.about .about-content .education .timeline .timeline-date h5,
.about .about-content .education .timeline .timeline-title h5,
.about .about-content .experience .timeline .timeline-date h5,
.about .about-content .experience .timeline .timeline-title h5 {
  color: var(--text-black-700);
  font-weight: 400;
}

.about .about-content .education .timeline .timeline-dot,
.about .about-content .experience .timeline .timeline-dot {
  flex: 0 0 10%;
  max-width: 10%;
  position: relative;
}

.about .about-content .education .timeline .timeline-dot .icon,
.about .about-content .experience .timeline .timeline-dot .icon {
  flex: 0 0 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--skin-color);
  font-size: 30px;
}

/* Services */
.services .container {
  padding-bottom: 40px;
}

.services .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.services .service-item .service-item-content {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.services .service-item .service-item-content:hover {
  transform: scale(1.05);
}

.services .service-item .service-item-content .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  transition: all 0.3s ease;
}

.services .service-item .service-item-content .icon .ic {
  font-size: 25px;
  color: var(--skin-color);
}

.services .service-item .service-item-content:hover .icon {
  background-color: var(--skin-color);
}
.services .service-item .service-item-content:hover .icon .ic {
  color: var(--bg-black-100);
  font-size: 20px;
}
.services .service-item .service-item-content h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
}
.services .service-item .service-item-content p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 1.6rem;
}

/* Portfolio */

/* Conatct */
.contact .contact-title {
  margin-bottom: 20px;
  color: var(--skin-color);
  font-size: 25px;
  text-align: center;
}

.contact .contact-sub-title {
  color: var(--text-black-900);
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .ico {
  font-size: 25px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black-700);
}

.contact .conatct-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .conatct-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .conatct-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .conatct-form .form-item {
  margin-bottom: 30px;
}

.contact .conatct-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .conatct-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .conatct-form .form-item textarea.form-control {
  height: 140px;
}

.conatact .conatct-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* Responsive */
@media (max-width: 1199px) {
  .sidebar {
    left: -270px;
  }

  .main-content {
    padding-left: 0;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-image {
    display: none;
  }

  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .about .about-content .skills {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 60px;
  }

  .about .about-content .education,
  .about .about-content .experience {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .services .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .services .service-item,
  .contact .contact-info-item,
  .contact .conatct-form .form-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
